[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/home/USERNAME/anaconda3/bin/anaconda-navigator
Name=Anaconda Navigator
Icon=/home/USERNAME/anaconda3/lib/python3.9/site-packages/anaconda_navigator/app/icons/Icon1024.png
Categories=Development
Terminal=false
X-MultipleArgs=false
StartupNotify=true
